@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 250ms ease;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.nav-active{
  transform: translateX(0) translateY(100%) !important;
}
.hamburger-active span:nth-child(1){
    transform: scaleX(0);
    transform-origin: center;
}
.hamburger-active span:nth-child(4){
    transform: scaleX(0);
    transform-origin: center;
}
.hamburger-active span:nth-child(2){
    transform: translateY(-50%) rotate(45deg) !important;
}
.hamburger-active span:nth-child(3){
    transform: translateY(-50%) rotate(-45deg) !important;
}

.nav-scrolled{
  padding: 1rem !important;
}
.nav-outer-scrolled{
  background-color: black !important;
}

.nav-scrolled img{
  width: 180px !important;
}

html{
  scroll-behavior: smooth;
}

.nav-link-active{
  color: #E3C77C !important;
}